:root {
    /* fonts */
    --cf-body-font: "Roboto", sans-serif;
    --cf-title-font: "Racing Sans One", sans-serif;
    --cf-subtitle-font: "Fira Sans", sans-serif;

    /* colors */
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Racing Sans One', cursive;
font-family: 'Roboto', sans-serif; */

/* MAIN HEADER */
.mainHeader {
    margin-top: 76px;
    height: 50px;
        
  }

 .navbar-brand {
    color: var(--cf-light);
 }


.mainTitle {
    font-family: var(--cf-title-font);
    font-size: 2.3rem;
    line-height: 1.8rem;
    color: var(--cf-light);
    position: center;
    /* align-items: center; */
}

.subTitle {
    font-family: var(--cf-subtitle-font);
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 0.09rem;
    color: var(--cf-light)
}


.mainHeader-content {
    height: 100%;
    display: flex;
}
/* MAIN HEADER */

.footer {
    align-items: center;
}

/* STICKY FOOTER */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_1920.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: var(--cf-darkblue);

    font-family: var(--cf-body-font);
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
/* STICKY FOOTER */

/* **************MEDIA QUERIES**********
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


    .mainTitle {
        font-size: 2.6rem;
        line-height: 2rem;
        
    }

    .subTitle {
        font-size: .9rem;
        letter-spacing: .1rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mainTitle {
        font-size: 3rem;
        line-height: 2.2rem;
    }

    .subTitle {
        font-size: 1.1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mainTitle {
        font-size: 3.5rem;
        line-height: 2.5rem;
    }

    .subTitle {
        font-size: 1.3rem;
        letter-spacing: .1rem;
        line-height: 1.3rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.2rem;
    }

    .subTitle {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.8rem;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.2rem;
    }

    .subTitle {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.8rem;
    }
}
/***************MEDIA QUERIES***********/